---
title: Home
description: Workshop Website
image: /images/beachfront2.jpg 
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Workshop on Ocean Turbulence</h1>
			<p class="subtext editable">22 - 26 January 2018 at UKZN, Durban.</p>
			<div class="cta button alt"><a href="https://goo.gl/forms/LD0i0D0mZTQqzTKD2">Register Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
			<!--
				<h2 class="editable">Presented by</h2>
			-->
			<!--
				<p class="editable">Rockland Scientific and Fluid Mechanics Lab at UKZN</p>
				-->
				<p class="editable">Rockland Scientific and the Fluid Mechanics Lab in Civil Engineering at UKZN are presenting a 5 day workshop on ocean turbulence with theoretical, practical and data processing units. The workshop is sponsored by the United State's Office of Naval Research. </p>			
	
<table>
	
	<tr>
	<td align="center" style="background-color:white" style="width:33.3%"><a href="https://rocklandscientific.com"><img style="display:block;" height="120"  src="./images/rockland_logo.png" alt="Rockland Scientific"></a></td>
	<td align="center" style="background-color:white" style="width:33.3%"><a href="https://www.onr.navy.mil"><img style="display:block;" height="90"  src="./images/onr-Logo.png" alt="ONR"></a></td>
	</tr>
</table>
	
			</div>
			
			<div class="text">

	<p align="center" style="background-color:white" style="width:3.3%"><a href="https://www.ukzn.ac.za"><img style="display:block;" height="100"  src="./images/ukzn-logo.jpg" alt="UKZN"></a></p>
				<p class="editable">Workshop fees are ZAR 500. Students can apply for a bursary to cover fee and travel costs.</p>
				<p class="editable"><a href="https://goo.gl/forms/LD0i0D0mZTQqzTKD2">Register</a> until 10th January 2018</p>
				<!--
				<h3 class="editable">Sponsored through</h3>
					<p class="editable">United State's Office of Naval Research</p>
					-->
			</div>
		</div>
	</section>
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Program</h2>
					<h3 class="editable">Monday 22nd January 2018</h4>
						<p class="editable">0800 – 0830  –  Registration</p>
						<p class="editable">0830 – 0845  –  Welcome & Intro</p>
			</div>
			<div class="text">
					<h3 class="editable">Sessions</h4>
					<h4 class="editable">Monday, Tuesday & Thursday, Friday</h5>
						<p class="editable">0830 – 1300 Morning Session with a coffee/tea break</p>
						<p class="editable">1300 – 1400 Lunch</p>
						<p class="editable">1400 – 1600 Afternoon Session</p>
					<h3 class="editable">Field trip to Durban Harbour</h4>
						<p class="editable">Wednesday 0800 – 1600</p>
						<p class="editable">On ship deployments of VMP-250</p>
			</div>
				
			<!--
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area.</p>
			</div>
			<div class="text">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
			-->
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Session Contents</h2>
				<p class="editable">Two to four units are taught each day, the
				<a href="https://rocklandscientific.com/products/profilers/vmp-250/">VMP-250 Turbulence Profiler</a> will be 
				introduced to demonstrate the measurement of micro-scale turbulence. </p>
				<p class="editable">A special session is planned for Friday, which will include scientific presentations 
				on ocean research in South Africa.</p>
			</div>
			
			<div class="text">
				<h4 class="editable">(1) Fundamental Turbulence Theory</h4>				
				<h4 class="editable">(2) Ocean Turbulence Theory </h4>
				<h4 class="editable">(3) Introduction to the VMP-250 </h4>
				<h4 class="editable">(4) Data Acquisition Software (ODAS5IR)  </h4>
				<h4 class="editable">(5) Pre-deployment Checks  </h4>
				<h4 class="editable">(6) Ocean Turbulence Measurement Techniques  </h4>
				<h4 class="editable">(7) Ocean Turbulence Measurement Sensors </h4>
				<h4 class="editable">(8) VMP-250 Deployment  </h4>
				<h4 class="editable">(9) VMP-250 Maintenance </h4>
				<h4 class="editable">(10) Data Conversion and Processing </h4>
				<h4 class="editable">(11) Signal Conditioning  </h4>
				<h4 class="editable">(12) Advanced Techniques in Data Processing </h4>
			</div>
					
			<!--
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
			-->
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Accommodation</h2>
				<p class="editable">All places suggested are safe and close to campus or just a short drive away. Some offer shared accommodation.</p>
			</div>
			<div class="text">
			<h4 class="editable">B&Bs close to campus:</h4>
			<p class="editable"><a href ="">An Upper Room</a>, R700 per room</p>
			<p class="editable"><a href="https://www.nunuburd.com">Nunuburd</a>, R660 per room</p>
			<h4 class="editable">Backpackers that offer dorm accommodation:</h4>
			<p class="editable"><a href="http://www.nomadsbp.com">
									Nomads Backpackers</a> in Musgrave, from R180 ppn</p>
			<p class="editable"><a href="http://curiocitybackpackers.com/Durban-Backpackers-Hostels.html">
									Curiocity backpackers</a> in Durban central, from R180 ppn</p>
			</div>
			<!--
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
			-->
		</div>
	</section>

	<!--
	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Register Now</a></div>
			</div>
		</div>
	</section>
	-->
</div>
